<div class="table-container">
  <table>
    <thead>
      <tr>
        <th *ngFor="let header of headers">
          {{ header.name }}
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="!loading; else skeletonBlock">
        <tr *ngFor="let item of items">
          <td *ngFor="let header of headers">
            {{ item[header.key] }}
          </td>
        </tr>
      </ng-container>
      <ng-template #skeletonBlock>
        <tr *ngFor="let _ of skeletonRows">
          <td>
            <div class="skeleton image"></div>
          </td>
          <td>
            <div class="skeleton"></div>
          </td>
          <td>
            <div class="skeleton"></div>
          </td>
          <td>
            <div class="skeleton"></div>
          </td>
          <td>
            <div class="skeleton"></div>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>

  <div class="no-items-container" *ngIf="!items">
    <p>{{ emptyMessage }}</p>
  </div>

  <div class="footer">
    <p>5 Resultados</p>
    <select>
      <option>5</option>
      <option>10</option>
      <option>15</option>
    </select>
  </div>
</div>
